<div class="osf_login_text">
  <p>Please click the link below to login to your OSF account. You will be redirected to the OSF authentication page and then back here after logging in.</p>
</div>
<div class="osf_login_link_wrapper">
  <%= link_to 'OSF Login', auth_url, class: 'osf_login_link' %>
</div>
