<h2 class="sr-only">Actions</h2>
<div class="collection-controls">
    <% if can? :edit, @collection %>
      <div class="btn-group collection-control-row" role="group" aria-label="...">
        <%= link_to collections.edit_collection_path, class: "btn btn-default", title: "Edit this Dataset" do %>
          <span class="glyphicon glyphicon-edit"></span> Edit
        <% end %>
        <%= link_to  collections_add_files_path(@collection), class: "btn btn-default", title: "Edit this Dataset" do %>
          <span class="glyphicon glyphicon-file"></span> Files
        <% end %>
        <% if @can_export %>
          <%= link_to collections_download_path(@collection), id: "dataset_export_button", collection_id: @collection.id , class: "btn btn-default", title: "Export this Dataset" do %>
            <span class="glyphicon glyphicon-download"></span> Export dataset
          <% end %>
        <% else %>
          <div style="clear:both">The size of this dataset is too large to export or is unknown.</div>
        <% end %>
      </div>
      <div style="clear:both">The maximum export dataset file size is limited to 3GB.</div>
    <% end %>
    <% if can? :delete, @collection %>
      <p>
      <%= link_to raw('<i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Delete Dataset'), collections.collection_path(@collection.id),
     class: 'btn btn-default itemicon itemtrash', title: 'Delete Dataset', method: :delete, data: {
     confirm: "Deleting a dataset from #{t('sufia.product_name')} is permanent. Click OK to delete this dataset from #{t('sufia.product_name')}, or Cancel to cancel this operation" } %>
      </p>
    <% end %>
</div>

