<div class="container-fluid">
  <div class="row">
    <div id="home-content-left-column" class="col-sm-4 pull-left">
      <%= render partial: '/homepage/home_content_left_col' %>
    </div>

    <div id="home-content-right-column" class="col-sm-4 pull-right">
      <%= render partial: '/homepage/home_content_right_col' %>
    </div>
  </div>
</div>
