<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="item1-img img-holder"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="carousel-caption home_marketing_text">
              <h1>Example Marketing Message</h1>
              <p>This marketing message can be edited directly in the homepage html file</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item2-img img-holder"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="carousel-caption home_marketing_text">
              <h1>Example Marketing Message</h1>
              <p>This marketing message can be edited directly in the homepage html file</p>
            </div>
          </div>
        </div>
      </div>    
    </div>
    <div class="item">
      <div class="item3-img img-holder"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="carousel-caption home_marketing_text">
              <h1>Example Marketing Message</h1>
              <p>This marketing message can be edited directly in the homepage html file</p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->
