<div id="homepage-banner">
  <div class="homepage-banner-inner" role="listbox">
    <div class="item">
      <div class="container-fluid">
        <div class="row">
          <div class="home_marketing_text_col col-xs-3">
            <div class="carousel-caption home_marketing_text">
              <h3>Virginia Tech’s Data Repository is a platform for openly publishing datasets or other research products created by Virginia Tech faculty, staff, and students.</h3>
            </div>
          </div>
          <div class="col-xs-9 img-holder" style="background-image: url(<%= asset_path(@banner_image) %>);"></div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.carousel -->
