<div class="col-centered">
  <div class="row">
    <div class="col-xs-9">
      <h4 class="welcome-header">Welcome to VTechData, the data repository for Virginia Tech!</h4>
    </div>
  </div>
</div><!-- /.col-xs-7 -->
