<div id="curation-services" class="home-right-col-block">
  <div id="curation-services-heading" class="home-right-col-block-heading">
    <h4>Curation Services</h4>
  </div>
  <div id="publish-image-wrapper" class="home-right-col-block-image-wrapper">
    <%= image_tag 'curation_services.jpg' %>
  </div>
  <div id="publish-info" class="home-right-col-block-info">
    <p>Curate your data to improve its reusability by you and others. Need assistance? Our Data Curator is available to assist you!</p>
    <div id="schedule-appt-link-wrapper" class="home-right-col-block-link-wrapper">
      <%= link_to "Schedule Appointment", "#" %>
    </div>
  </div>
</div><!-- end #curation-services -->
