<%= f.input key, as: :multi_value, input_html: { class: 'form-control datarepo-autocomplete' }, required: f.object.required?(key) %>
<input class="ldap-txt contributor" id="ldap-txt-contributor">
<input class="ldap-search contributor" type="button" id="ldap-search-contributor" value="search people">
<div class="ldap-results contributor"></div>
<input class="ldap-add contributor" type="button" id="ldap-add-contributor" value="Add Contributor" style="display:none">
<div class="ldap-loading contributor" style="display:none">Loading</div>

