<%= f.input key, as: :multi_value, input_html: { class: 'form-control' }, required: f.object.required?(key) %>
<input class="ldap-txt creator" id="ldap-txt-creator">
<input class="ldap-search creator" type="button" id="ldap-search-creator" value="search people">
<div class="ldap-results creator"></div>
<input class="ldap-add creator" type="button" id="ldap-add-creator" value="Add creator" style="display:none">
<div class="ldap-loading creator" style="display:none">Loading</div>

