<%= f.input key, as: :multi_value_with_help, input_html: { class: 'form-control', placeholder: "Search DOI from CrossRef below or Add url on your own" }, required: f.object.required?(key) %>

<div id="crossref_search_form">
  <%= render 'crossref_search' %>
</div>
<div id="crossref_search_result" style="display:none;">
  <%= render 'crossref_search_result' %>
</div>
<button id="add_related_url"  style="display:none;">Add DOI as related url</button>
