<%= javascript_tag do %>
<% end %>

<div class="col-xs-12 profile">
  <div class="row">
    <div class="col-xs-12 margin-bottom-md">
      <%= render 'profile_actions' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 margin-bottom">
        <div class="well">
         <%= render 'left_sidebar' %>
        </div>
    </div>
    <!-- right col -->
    <div class="col-xs-12 col-sm-9">
      <%= render 'profile_tabs' %>
    </div>
  </div>
</div>
