<div class="col-xs-6 col-sm-3 arrow-wrapper">
  <svg viewBox="0 0 100 100" preserveAspectRatio="none" >
    <rect class="arrow rectangle" x="0" y="32.5%" width="71%" height="35%" />
    <polygon class="arrow triangle" points="70,0 100,50 70,100" />
  </svg>
</div>
