<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-6 col-sm-12 col-md-6 user-info">
      <%= link_to "Admin metadata download", admin_metadata_download_path %>
    </div>
  </div>
</div>
