<div class="alert">
  <strong>Note:</strong> You must agree to <a href='/agreement/' target="_blank"><%= t('sufia.deposit_agreement') %></a> before starting your upload. Do not upload any <a href='http://oesrc.researchcompliance.vt.edu/' target="_blank">OESRC</a>-covered or <a href='http://www.security.vt.edu/protectdata.html' target="_blank">sensitive material</a>.
</div>
