<div class="upload-limit" >
  <label>
    <strong>Upload limits: You may upload up to 100 files at a time. Each file cannot be larger than 200 MBs. You cannot upload more than 1GB at a time.</strong>
  </label>
</div>
