<div class="upload-limit" >
  <label>
    <strong>Upload limits: VTechData has a user limit of 1GB when uploading files (one or many), and can upload up to 100 files at a time. To upload a file or set of files larger than 1 GB please contact <%= mail_to "vtechdata@vt.edu" %> and we will assist you.</strong>
  </label>
</div>
