.osf_login_text {
  margin: 20px;
}

.osf_login_link {
  display: block;
  font-size: 20px;
  width: 150px;
  padding: 20px;
  margin: 40px auto;
  background-color: #febd69;
  border: 2px solid rgb(204,204,204);
  border-radius: 5px;
}
