/****** acherus-grotesque ******/

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_thin.woff2') format('woff2'),
         font-url('acherusgrotesque_thin.woff') format('woff'),
         font-url('acherusgrotesque_thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_thinitalic.woff2') format('woff2'),
         font-url('acherusgrotesque_thinitalic.woff') format('woff'),
         font-url('acherusgrotesque_thinitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_light.woff2') format('woff2'),
         font-url('acherusgrotesque_light.woff') format('woff'),
         font-url('acherusgrotesque_light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_lightitalic.woff2') format('woff2'),
         font-url('acherusgrotesque_lightitalic.woff') format('woff'),
         font-url('acherusgrotesque_lightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_regular.woff2') format('woff2'),
         font-url('acherusgrotesque_regular.woff') format('woff'),
         font-url('acherusgrotesque_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_italic.woff2') format('woff2'),
         font-url('acherusgrotesque_italic.woff') format('woff'),
         font-url('acherusgrotesque_italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_medium.woff2') format('woff2'),
         font-url('acherusgrotesque_medium.woff') format('woff'),
         font-url('acherusgrotesque_medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_mediumitalic.woff2') format('woff2'),
         font-url('acherusgrotesque_mediumitalic.woff') format('woff'),
         font-url('acherusgrotesque_mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_bold.woff2') format('woff2'),
         font-url('acherusgrotesque_bold.woff') format('woff'),
         font-url('acherusgrotesque_bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_bolditalic.woff2') format('woff2'),
         font-url('acherusgrotesque_bolditalic.woff') format('woff'),
         font-url('acherusgrotesque_bolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_extrabold.woff2') format('woff2'),
         font-url('acherusgrotesque_extrabold.woff') format('woff'),
         font-url('acherusgrotesque_extrabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_extrabolditalic.woff2') format('woff2'),
         font-url('acherusgrotesque_extrabolditalic.woff') format('woff'),
         font-url('acherusgrotesque_extrabolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_black.woff2') format('woff2'),
         font-url('acherusgrotesque_black.woff') format('woff'),
         font-url('acherusgrotesque_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Acherus";
    src: font-url('acherusgrotesque_blackitalic.woff2') format('woff2'),
         font-url('acherusgrotesque_blackitalic.woff') format('woff'),
         font-url('acherusgrotesque_blackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/****** gineso-condensed ******/

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConThi.woff2') format('woff2'),
         font-url('Gineso-ConThi.woff') format('woff'),
         font-url('Gineso-ConThi.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConThiIt.woff2') format('woff2'),
         font-url('Gineso-ConThiIt.woff') format('woff'),
         font-url('Gineso-ConThiIt.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConLig.woff2') format('woff2'),
         font-url('Gineso-ConLig.woff') format('woff'),
         font-url('Gineso-ConLig.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConLigIt.woff2') format('woff2'),
         font-url('Gineso-ConLigIt.woff') format('woff'),
         font-url('Gineso-ConLigIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConReg.woff2') format('woff2'),
         font-url('Gineso-ConReg.woff') format('woff'),
         font-url('Gineso-ConReg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConRegIt.woff2') format('woff2'),
         font-url('Gineso-ConRegIt.woff') format('woff'),
         font-url('Gineso-ConRegIt.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConMed.woff2') format('woff2'),
         font-url('Gineso-ConMed.woff') format('woff'),
         font-url('Gineso-ConMed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConMedIt.woff2') format('woff2'),
         font-url('Gineso-ConMedIt.woff') format('woff'),
         font-url('Gineso-ConMedIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConDem.woff2') format('woff2'),
         font-url('Gineso-ConDem.woff') format('woff'),
         font-url('Gineso-ConDem.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConDemIt.woff2') format('woff2'),
         font-url('Gineso-ConDemIt.woff') format('woff'),
         font-url('Gineso-ConDemIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConBol.woff2') format('woff2'),
         font-url('Gineso-ConBol.woff') format('woff'),
         font-url('Gineso-ConBol.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConBolIt.woff2') format('woff2'),
         font-url('Gineso-ConBolIt.woff') format('woff'),
         font-url('Gineso-ConBolIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConBla.woff2') format('woff2'),
         font-url('Gineso-ConBla.woff') format('woff'),
         font-url('Gineso-ConBla.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "gineso-condensed";
    src: font-url('Gineso-ConBlaIt.woff2') format('woff2'),
         font-url('Gineso-ConBlaIt.woff') format('woff'),
         font-url('Gineso-ConBlaIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/****** crimsontext ******/

@font-face {
    font-family: "crimsontext", serif;
    src: font-url('crimsontext-regular.woff2') format('woff2'),
         font-url('crimsontext-regular.woff') format('woff'),
         font-url('crimsontext-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "crimsontext", serif;
    src: font-url('crimsontext-italic.woff2') format('woff2'),
         font-url('crimsontext-italic.woff') format('woff'),
         font-url('crimsontext-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "crimsontext", serif;
    src: font-url('crimsontext-semibold.woff2') format('woff2'),
         font-url('crimsontext-semibold.woff') format('woff'),
         font-url('crimsontext-semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "crimsontext", serif;
    src: font-url('crimsontext-semibolditalic.woff2') format('woff2'),
         font-url('crimsontext-semibolditalic.woff') format('woff'),
         font-url('crimsontext-semibolditalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "crimsontext", serif;
    src: font-url('crimsontext-bold.woff2') format('woff2'),
         font-url('crimsontext-bold.woff') format('woff'),
         font-url('crimsontext-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "crimsontext", serif;
    src: font-url('crimsontext-bolditalic.woff2') format('woff2'),
         font-url('crimsontext-bolditalic.woff') format('woff'),
         font-url('crimsontext-bolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
