@import 'global';

#content {
    padding-top: 0px;
}

#home_header  {
    background-image: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: none;
    border-bottom: none;
}

.home_marketing_text {
    background: rgba(255,255,255,0.85);
    border-radius: 5px 5px 5px 5px;
    color: black;
    margin: 40px 0;
    padding-bottom: 1em;
    text-shadow: none;
}

.home_share_work {
    background: rgba(255,255,255,0.85);
    border-radius: 5px 5px 5px 5px;
    margin: 1em 0;
    padding: 1em;
}

.home_share_work p {
    text-decoration: underline;
    background-color: transparent;
}

.logo-title-login-row {
  position: relative;
  display: block;
  margin-top: 20px;
  height: 175px;
  .institution_name {
    padding: 20px;
    a {
      text-decoration-color: rgba(139,31,65,1);
    }
    h1 {
      display: table-cell;
      padding: 40px;
      margin-bottom: 20px;
      font-size: 50px;
      font-weight: 300;
      font-family: gineso-condensed,sans-serif !important;
      color: rgba(139,31,65,1);
    }
  }
  .institution_name:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 40px;
    left: 30px;
    height: 2.5em;
    width: 2.5em;
    border-top: 5px solid rgba(214,26,94,1);
    border-left: 5px solid rgba(214,26,94,1);
  }
}
.logo-row-login-wrapper {
  width: 305px;
  height: 100%;
  .navbar-default {
    background: none;
    border: none;
  }
  .btn {
    background-color: $hokie-gold;
  }
  .btn.large {
    padding: 16px 28px;
    font-size: 1.5em;
  }
  #user_utility_links {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  .login_button {
    position: relative;
    margin-top: 0;
    top: 50%;    
    transform: translateY(-50%);
  }
  .cas-text {
    text-align: center;
  }
}

#grad1 {
    height: 40px;
    background: linear-gradient(#f3f3f3, #ffffff);
}

#home_content {
  margin-top: 80px;
  padding: 0px 0px 10px 0px;
  background: none;
  font-size: 18px;

  .welcome-header {
    font-size: 1.7em;
    font-weight: bold;
  }
  .purpose {
    font-size: 1.4em;
    font-weight: bold;
  }

  #home-content-left-column, #home-content-right-column {
    padding: 0; 
    margin: 40px 8%;

    .home-right-col-block {
      position: relative;
      display: block;
      width: 100%;
      .home-right-col-block-heading {
        position: relative;
        display: block;
        height: 40px;
        h4 {
          padding: 10px 0 10px 15px;
          color: white;
        }
      }
      #publish-heading {
        background-color: $hokie-cadet-blue;
      }
      #curation-services-heading {
        background-color: #4f7427;
      }
      .home-right-col-block-image-wrapper {
        position: relative;
        display: block;
        img {
          width: 100%;
        }
      }
      .home-right-col-block-info {
        position: relative;
        display: block;
        padding: 20px;
        background-color: #e4e4e4;
        .home-right-col-block-link-wrapper {
          position: relative;
          display: block;
          width: 70%;
          height: 40px;
          margin: 15px auto;   
          background-color: #7e7e7e;
          border-radius: 5px;
          a, a:visited {
            display: block;
            margin: 0 auto;
            font-size: 1em;;
            text-align: center;
            color: white;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            line-height: 25px;
          }
        }
        #publish-link-list {
          list-style-image: image-url("li_image.png");
          -webkit-padding-start: 15px;
          li.publish-link-item {
            margin-top: 10px;
            a, a:hover, a:visited {
              color: #396e8e;
            }
          }  
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1368px) {
  #home_content {
    #home-content-right-column {
      .home-right-col-block {
        .home-right-col-block-info {
          .home-right-col-block-link-wrapper {
            width: 95%;
            height: 60px;
          }
        }
      }
    }
  }
}

.home-info {
    text-align: center;
    color: #777777;

    h4 {
        font-size: 18px;
        padding: 15px;
        color: #444444;
    }

    img {
        height: 85px;
    }
}
