:root {
  --acherus: "Acherus";
  --gineso: "gineso-condensed";
  --pt-sans: "PT Sans";
  --lato: "Lato";
  --body-font: "Acherus";
  --maroon: #841c44;
  --white: white;
  --teal: #3f787d;
  --dark-orange: #d14b27;
  --light-orange: #f7901e;
  --light-grey: #d7d2cb;
  --dark-grey: #6d6a75; }

[class*="vt-bubble"] {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 95px;
  background-color: #6d6a75;
  color: white;
  background-color: var(--dark-grey);
  color: var(--white); }
  @media screen and (max-width: 767px) {
    [class*="vt-bubble"] {
      margin-bottom: 3em; } }
  [class*="vt-bubble"] #vt {
    top: 0; }
    [class*="vt-bubble"] #vt .bubble-header {
      top: -50px; }
  [class*="vt-bubble"] h3, [class*="vt-bubble"] .bubble-header {
    position: absolute;
    top: -50px;
    width: 100%;
    color: #6d6a75;
    color: var(--dark-grey); }
  [class*="vt-bubble"] .bubble-header {
    top: -25px;
    left: 0; }
    [class*="vt-bubble"] .bubble-header.orange {
      color: #d14b27;
      color: var(--dark-orange); }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"] .bubble-header {
        top: -15px; } }
    @media (-ms-high-contrast: black-on-white) {
      [class*="vt-bubble"] .bubble-header {
        color: black; } }
    @media (-ms-high-contrast: white-on-black) {
      [class*="vt-bubble"] .bubble-header {
        color: white; } }
  [class*="vt-bubble"] p {
    margin: 0;
    font-size: 1.2em;
    padding: 0 10px; }
    [class*="vt-bubble"] p .adverb {
      position: absolute;
      color: #6d6a75;
      color: var(--dark-grey); }
      @media screen and (max-width: 767px) {
        [class*="vt-bubble"] p .adverb {
          display: none; } }
  [class*="vt-bubble"] ul {
    padding-left: 30px;
    padding-right: 10px;
    list-style-position: outside; }
  [class*="vt-bubble"] li {
    font-size: 0.75em !important;
    margin-bottom: 5px;
    line-height: 1.5em !important; }
    [class*="vt-bubble"] li::before {
      margin-left: -13px !important; }
  @media (-ms-high-contrast: active) {
    [class*="vt-bubble"] {
      border: 4px solid white; } }
  @media (-ms-high-contrast: black-on-white) {
    [class*="vt-bubble"] {
      border: 4px solid black; } }
  [class*="vt-bubble"][class*="darkOrange"] {
    background-color: #d14b27;
    background-color: var(--dark-orange); }
    [class*="vt-bubble"][class*="darkOrange"]::after {
      border-top-color: #d14b27;
      border-bottom-color: #d14b27;
      border-top-color: var(--dark-orange);
      border-bottom-color: var(--dark-orange); }
    [class*="vt-bubble"][class*="darkOrange"] .adverb {
      color: #d14b27;
      color: var(--dark-orange); }
  [class*="vt-bubble"][class*="lightOrange"] {
    background-color: #f7901e;
    background-color: var(--light-orange); }
    [class*="vt-bubble"][class*="lightOrange"]::after {
      border-top-color: #f7901e;
      border-bottom-color: #f7901e;
      border-top-color: var(--light-orange);
      border-bottom-color: var(--light-orange); }
    [class*="vt-bubble"][class*="lightOrange"] .adverb {
      color: #f7901e;
      color: var(--light-orange); }
  [class*="vt-bubble"][class*="maroon"] {
    background-color: #841c44;
    background-color: var(--maroon); }
    [class*="vt-bubble"][class*="maroon"]::after {
      border-top-color: #841c44;
      border-bottom-color: #841c44;
      border-top-color: var(--maroon);
      border-bottom-color: var(--maroon); }
    [class*="vt-bubble"][class*="maroon"] .adverb {
      color: #841c44;
      color: var(--maroon); }
  [class*="vt-bubble"][class*="lightGrey"] {
    background-color: #d7d2cb;
    color: #6d6a75;
    background-color: var(--light-grey);
    color: var(--dark-grey); }
    [class*="vt-bubble"][class*="lightGrey"]::after {
      border-top-color: #d7d2cb;
      border-bottom-color: #d7d2cb;
      border-top-color: var(--light-grey);
      border-bottom-color: var(--light-grey); }
    [class*="vt-bubble"][class*="lightGrey"] .adverb {
      color: #6d6a75;
      color: var(--dark-grey); }
  [class*="vt-bubble"][class*="white"] {
    background-color: white;
    color: #6d6a75;
    background-color: var(--white);
    color: var(--dark-grey); }
    [class*="vt-bubble"][class*="white"]::after {
      border-top-color: white;
      border-bottom-color: white;
      border-top-color: var(--white);
      border-bottom-color: var(--white); }
    [class*="vt-bubble"][class*="white"] .adverb {
      color: #6d6a75;
      color: var(--dark-grey); }
  [class*="vt-bubble"][class*="teal"] {
    background-color: #3f787d;
    background-color: var(--teal); }
    [class*="vt-bubble"][class*="teal"]::after {
      border-top-color: #3f787d;
      border-bottom-color: #3f787d;
      border-top-color: var(--teal);
      border-bottom-color: var(--teal); }
    [class*="vt-bubble"][class*="teal"] .adverb {
      color: #3f787d;
      color: var(--teal); }
  [class*="vt-bubble"]::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    -ms-high-contrast-adjust: none;
    border-top-color: #6d6a75;
    border-bottom-color: #6d6a75;
    border-top-color: var(--dark-grey);
    border-bottom-color: var(--dark-grey); }
    @media screen and (max-width: 767px) {
      [class*="vt-bubble"]::after {
        display: none; } }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"]::after {
        border: none !important;
        border-color: none !important;
        font-family: FontAwesome;
        font-size: 3em;
        background: none !important;
        color: none !important; } }
  [class*="vt-bubble"][class*="noArrow"] {
    margin-top: 40px; }
    [class*="vt-bubble"][class*="noArrow"]::after {
      display: none; }
  [class*="vt-bubble"][class*="bottom"]::after {
    border-top-width: 20px;
    border-top-style: solid;
    bottom: -20px; }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"][class*="bottom"]::after {
        content: "\f0d7";
        bottom: 30px; } }
  [class*="vt-bubble"][class*="bottom"]::before {
    bottom: -10px; }
  [class*="vt-bubble"][class*="bottom"] .adverb {
    bottom: -25px;
    -ms-high-contrast-adjust: none; }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"][class*="bottom"] .adverb {
        bottom: -27px; } }
  [class*="vt-bubble"][class*="top"]::after {
    border-bottom-width: 20px;
    border-bottom-style: solid;
    top: -20px; }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"][class*="top"]::after {
        content: "\f0d8";
        top: -47px; } }
  [class*="vt-bubble"][class*="top"] .adverb {
    top: -25px; }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"][class*="top"] .adverb {
        top: -30px; } }
  [class*="vt-bubble"][class*="left"]::after {
    left: 0;
    border-left-width: 0;
    border-right-width: 15px; }
  [class*="vt-bubble"][class*="left"] .adverb {
    left: 20px; }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"][class*="left"] .adverb {
        left: 30px; } }
  [class*="vt-bubble"][class*="center"]::after {
    left: 50%;
    margin-left: -10px; }
  [class*="vt-bubble"][class*="center"]::before {
    left: 50%;
    margin-left: -5px; }
  [class*="vt-bubble"][class*="center"] .adverb {
    left: 50%;
    margin-left: -80px; }
  [class*="vt-bubble"][class*="right"]::after {
    right: 0;
    border-right-width: 0;
    border-left-width: 15px; }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"][class*="right"]::after {
        right: 25px; } }
  [class*="vt-bubble"][class*="right"] .adverb {
    right: 20px; }
    @media (-ms-high-contrast: active) {
      [class*="vt-bubble"][class*="right"] .adverb {
        right: 30px; } }
  [class*="vt-bubble"][class*="hollow"] {
    background-color: white;
    border: 4px solid #6d6a75;
    color: #6d6a75;
    border: 4px solid var(--dark-grey);
    color: var(--dark-grey); }
    [class*="vt-bubble"][class*="hollow"][class*="noArrow"]::before {
      display: none; }
    [class*="vt-bubble"][class*="hollow"][class*="darkOrange"] {
      border-color: #d14b27;
      border-color: var(--dark-orange); }
    [class*="vt-bubble"][class*="hollow"][class*="lightOrange"] {
      border-color: #f7901e;
      border-color: var(--light-orange); }
    [class*="vt-bubble"][class*="hollow"][class*="lightGrey"] {
      border-color: #d7d2cb;
      border-color: var(--light-grey); }
    [class*="vt-bubble"][class*="hollow"][class*="teal"] {
      border-color: #3f787d;
      border-color: var(--teal); }
    [class*="vt-bubble"][class*="hollow"][class*="maroon"] {
      border-color: #841c44;
      border-color: var(--maroon); }
    [class*="vt-bubble"][class*="hollow"] .adverb {
      display: none; }
    [class*="vt-bubble"][class*="hollow"]::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      z-index: 1; }
      @media screen and (max-width: 767px) {
        [class*="vt-bubble"][class*="hollow"]::before {
          display: none; } }
      @media (-ms-high-contrast: active) {
        [class*="vt-bubble"][class*="hollow"]::before {
          display: none; } }
    [class*="vt-bubble"][class*="hollow"][class*="bottom"]::before {
      bottom: -10px;
      border-top: 10px solid white; }
    [class*="vt-bubble"][class*="hollow"][class*="top"]::before {
      top: -10px;
      border-bottom: 10px solid white; }
    [class*="vt-bubble"][class*="hollow"][class*="right"]::before {
      right: 0;
      border-right-width: 0;
      border-left-width: 7px; }
    [class*="vt-bubble"][class*="hollow"][class*="right"]::after {
      right: -4px; }
    [class*="vt-bubble"][class*="hollow"][class*="left"]::before {
      left: 0;
      border-left-width: 0;
      border-right-width: 7px; }
    [class*="vt-bubble"][class*="hollow"][class*="left"]::after {
      left: -4px; }

[class*="vt-bracket"] {
  position: relative; }
  @media screen and (max-width: 767px) {
    [class*="vt-bracket"] {
      margin: 0 10px; } }
  [class*="vt-bracket"][class*="vertical"].vt-text {
    padding-left: 20px; }
    @media screen and (max-width: 767px) {
      [class*="vt-bracket"][class*="vertical"].vt-text {
        padding-left: 0; } }
    [class*="vt-bracket"][class*="vertical"].vt-text p {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      @media screen and (max-width: 767px) {
        [class*="vt-bracket"][class*="vertical"].vt-text p {
          position: inherit;
          top: inherit;
          transform: none;
          text-align: center;
          padding-top: 10px; } }
  [class*="vt-bracket"][class*="vertical"]::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 5px;
    border-left-style: solid;
    border-left-width: 10px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: transparent;
    top: 50%;
    margin-top: -5px;
    border-left-color: #d14b27;
    border-left-color: var(--dark-orange); }
    @media screen and (max-width: 767px) {
      [class*="vt-bracket"][class*="vertical"]::after {
        top: 0;
        left: 50%;
        margin-left: -5px;
        margin-top: 0;
        border-top: none;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: transparent;
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: transparent;
        border-top-style: solid;
        border-top-width: 10px;
        border-top-color: #d14b27;
        border-top-color: var(--dark-orange); } }
    @media (-ms-high-contrast: active) {
      [class*="vt-bracket"][class*="vertical"]::after {
        display: none; } }
  [class*="vt-bracket"][class*="vertical"]::before {
    width: 5px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    border-top: #d14b27 solid 2px;
    border-bottom: #d14b27 solid 2px;
    border-right: #d14b27 solid 2px;
    border-top: var(--dark-orange) solid 2px;
    border-bottom: var(--dark-orange) solid 2px;
    border-right: var(--dark-orange) solid 2px; }
    @media screen and (max-width: 767px) {
      [class*="vt-bracket"][class*="vertical"]::before {
        border-top: none;
        height: 50%;
        border-left: #d14b27 solid 2px;
        border-left: var(--dark-orange) solid 2px;
        width: 100%;
        top: -20px; } }
  [class*="vt-bracket"][class*="horizontal"]::after {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    top: -5px;
    left: 50%;
    margin-left: -5px;
    margin-top: 0;
    border-top: none;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: transparent;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: transparent;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #d14b27;
    border-top-color: var(--dark-orange); }
    @media (-ms-high-contrast: active) {
      [class*="vt-bracket"][class*="horizontal"]::after {
        display: none; } }
  [class*="vt-bracket"][class*="horizontal"]::before {
    height: 50%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
    content: "";
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-style: solid;
    border-right-width: 2px; }
  [class*="vt-bracket"][class*="darkGrey"][class*="vertical"]::after {
    border-left-color: #6d6a75;
    border-left-color: var(--dark-grey); }
    @media screen and (max-width: 767px) {
      [class*="vt-bracket"][class*="darkGrey"][class*="vertical"]::after {
        border-top-color: #6d6a75;
        border-top-color: var(--dark-grey); } }
  [class*="vt-bracket"][class*="darkGrey"][class*="vertical"]::before {
    border-bottom-color: #6d6a75;
    border-right-color: #6d6a75;
    border-top-color: #6d6a75;
    border-bottom-color: var(--dark-grey);
    border-right-color: var(--dark-grey);
    border-top-color: var(--dark-grey); }
  [class*="vt-bracket"][class*="darkGrey"][class*="vertical"].vt-text p {
    color: #6d6a75;
    color: var(--dark-grey); }
  [class*="vt-bracket"][class*="darkGrey"][class*="horizontal"]::after {
    border-top-color: #6d6a75;
    border-top-color: var(--dark-grey); }
  [class*="vt-bracket"][class*="darkGrey"][class*="horizontal"]::before {
    border-left-color: #6d6a75;
    border-right-color: #6d6a75;
    border-bottom-color: #6d6a75;
    border-left-color: var(--dark-grey);
    border-right-color: var(--dark-grey);
    border-bottom-color: var(--dark-grey); }
  [class*="vt-bracket"][class*="darkGrey"][class*="horizontal"].vt-text p {
    color: #6d6a75;
    color: var(--dark-grey); }
  [class*="vt-bracket"][class*="darkOrange"][class*="vertical"]::after {
    border-left-color: #d14b27;
    border-left-color: var(--dark-orange); }
    @media screen and (max-width: 767px) {
      [class*="vt-bracket"][class*="darkOrange"][class*="vertical"]::after {
        border-left-color: transparent;
        border-top-color: #d14b27;
        border-left-color: transparent;
        border-top-color: var(--dark-orange); } }
  [class*="vt-bracket"][class*="darkOrange"][class*="vertical"]::before {
    border-bottom-color: #d14b27;
    border-right-color: #d14b27;
    border-top-color: #d14b27;
    border-bottom-color: var(--dark-orange);
    border-right-color: var(--dark-orange);
    border-top-color: var(--dark-orange); }
  [class*="vt-bracket"][class*="darkOrange"][class*="vertical"].vt-text p {
    color: #d14b27;
    color: var(--dark-orange); }
  [class*="vt-bracket"][class*="darkOrange"][class*="horizontal"]::after {
    border-top-color: #d14b27;
    border-top-color: var(--dark-orange); }
  [class*="vt-bracket"][class*="darkOrange"][class*="horizontal"]::before {
    border-left-color: #d14b27;
    border-right-color: #d14b27;
    border-bottom-color: #d14b27;
    border-left-color: var(--dark-orange);
    border-right-color: var(--dark-orange);
    border-bottom-color: var(--dark-orange); }
  [class*="vt-bracket"][class*="darkOrange"][class*="horizontal"].vt-text p {
    color: #d14b27;
    color: var(--dark-orange); }

.vt-brandCenter.vt-darkGrey {
  color: #6d6a75;
  color: var(--dark-grey); }

.vt-brandCenter.vt-darkOrange {
  color: #d14b27;
  color: var(--dark-orange); }

.vt-brandCenter hr {
  border-top-color: #6d6a75;
  border-top-color: var(--dark-grey); }

.vt-brandCenter.vt-multicolumn[class*="2col"][class*="9-3"] {
  margin-top: 60px; }
  .vt-brandCenter.vt-multicolumn[class*="2col"][class*="9-3"] .row > [class*="col-"]:first-child {
    width: 75%; }
  .vt-brandCenter.vt-multicolumn[class*="2col"][class*="9-3"] .row > [class*="col-"]:last-child {
    width: 25%;
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 767px) {
    .vt-brandCenter.vt-multicolumn[class*="2col"][class*="9-3"] .row > [class*="col-"] {
      width: 100% !important; } }

.vt-brandCenter[class*="vt-pyramid"] .vt-pyramid-scale {
  position: absolute;
  left: 20px;
  top: 0;
  width: 50px;
  height: 500px; }
  .vt-brandCenter[class*="vt-pyramid"] .vt-pyramid-scale p {
    transform: rotate(-90deg);
    position: absolute;
    left: -50px;
    font-size: 14px;
    width: 100px; }
    .vt-brandCenter[class*="vt-pyramid"] .vt-pyramid-scale p:first-child {
      top: 50px; }
    .vt-brandCenter[class*="vt-pyramid"] .vt-pyramid-scale p:last-child {
      bottom: -50px; }

.vt-brandCenter[class*="vt-pyramid"][class*="block"] {
  color: white;
  font-family: "Acherus";
  color: var(--white);
  font-family: var(--acherus);
  position: relative;
  margin-bottom: 0;
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding-bottom: 125px; }
  .vt-brandCenter[class*="vt-pyramid"][class*="block"]::after {
    z-index: 1;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 125px;
    border-bottom-style: solid;
    border-left-width: 80px;
    border-left-style: solid;
    border-right-width: 80px;
    border-right-style: solid;
    border-bottom-color: #841c44;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--maroon);
    border-left-color: transparent;
    border-right-color: transparent; }
    @media (-ms-high-contrast: active) {
      .vt-brandCenter[class*="vt-pyramid"][class*="block"]::after {
        border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 0; } }
  .vt-brandCenter[class*="vt-pyramid"][class*="block"]::after {
    width: 100%; }
  .vt-brandCenter[class*="vt-pyramid"][class*="block"] p {
    text-align: center;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    z-index: 2;
    font-size: 15px; }
  .vt-brandCenter[class*="vt-pyramid"][class*="block"][class*="one"] p {
    top: 60%; }
  @media (-ms-high-contrast: active) {
    .vt-brandCenter[class*="vt-pyramid"][class*="block"] {
      border: 4px solid white; } }
  @media (-ms-high-contrast: black-on-white) {
    .vt-brandCenter[class*="vt-pyramid"][class*="block"] {
      border: 4px solid black !important; } }

.vt-brandCenter .parbase.text {
  margin-bottom: 10px; }
