<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.name %>,</h3>
    <p>
      Your metadata export has completed and is available at <%= File.join(@base_path, 'tmp', 'exports',  @download_id) %>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
