@import 'global';

#search-form-header {
  .btn-primary:hover, .btn-primary:focus {
    background-color: $hokie-gold !important;
    color: white;
  }
}

#search-submit-header {
  height: 34px;
}

.add, .btn-primary {
	  background-color: $hokie-gold;
	  border-color: $hokie-gold;
	  color: black;
}

.add:hover, .add:focus,
.btn-primary:hover, .btn-primary:focus {
	  background-color: $hokie-gold;
	  border-color: $hokie-gold;
	  color: white;
}

.btn-primary:disabled {
	 background-color: $hokie-orange;
	 border-color: $hokie-orange;
	 color: white;
}

.subtab {
	border-radius: 0px 0px 5px 5px;
 	border-top: none;
 	background-color: $hokie-orange;
 	color: white;
}

#batch-edit {
  background-color: #93a7b3;
  border-color: #93a7b3;
}
#batch-edit:hover {
  background-color: #557082;
  border-color: #557082;
}

.btn-danger:hover {
  background-color: #980000;
  border-color: #980000;
  color: white;
}

.submits-batches-add {
  background-color: #9bb68f;
  border-color: #9bb68f;
}
.submits-batches-add:hover {
  background-color: #79946c;
  border-color: #79946c;
}
