@import 'global';

#search-form-header {
  .btn-primary:hover, .btn-primary:focus {
    background-color: $hokie-orange !important;
    color: white;
  }
}

.add, .btn-primary {
	  background-color: $hokie-orange;
	  border-color: $hokie-orange;
	  color: white;
}

.add:hover, .add:focus,
.btn-primary:hover, .btn-primary:focus {
	  background-color: $hokie-orange;
	  border-color: $hokie-orange;
	  color: white;
}

.btn-primary:disabled {
	 background-color: $hokie-orange;
	 border-color: $hokie-orange;
	 color: white;
}

.subtab {
	border-radius: 0px 0px 5px 5px;
 	border-top: none;
 	background-color: $hokie-orange;
 	color: white;
}

