@import 'global';

$arrow-width: 80px;

div.dashboard-breadcrumb {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: solid $hokie-orange; 
}

div.heading-tile {
  color: white;
  display: block;
  border-radius: 5px 5px 0 0;
  line-height: 1.75em;
  margin: 0 auto;
  padding-top: 10px;
  overflow: hidden;
  transition-property: background-color, color;
  transition-duration: .35s;
  transition-timing-function: ease-out;
}

div.heading-tile.active {
  background-color: orange;
  color: white;
  transition-property: background-color, color;
  transition-duration: .35s;
  transition-timing-function: ease-out;
}

div.heading-tile:hover {
  background-color: $hokie-orange;
  color: white;
  transition-property: background-color, color;
  transition-duration: .35s;
  transition-timing-function: ease-out;
}

div.heading-tile a:hover {
  text-decoration: none;
}

div.arrow-wrapper {
  width: $arrow-width;
  height: 116px;
  svg {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  .arrow {
    fill: $hokie-orange;
  }
}
@media screen and (max-width: 767px) {
  div.arrow-wrapper {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  div.heading-tile {
    width: calc(25% - (#{$arrow-width} * .75));
  }
}

.dashboard {
  background-color: rgba(109,106,117,.4);
  .panel-default > .panel-heading {
    background-color: $hokie-grey;
    color: white;
  }

  .badge {
    background-color: $hokie-orange;
    color: white;
  }
  .badge-optional {
    background-color: $hokie-maroon;
    border-radius: 2px;
    color: white;
    padding: 0 .25em;
  }

}

.osf-project .links a, .osf-project .links a:visited {
  color: $hokie-maroon;
}

.heading-tile {
  img {
    height: 64px;
  }
}
.publish-policy-link {
  color: $mid-grey;
  text-decoration: underline;
}
.upload-limit {
  margin: 10px 0;
}
.alert {
  a {
    color: $link-blue;
    font-weight: bold;
  }
}
