// Place all the styles related to the DoiRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* status_tag */
span.status { display: block; width: 10px; height: 10px;
  margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
span.status.true  { background: green; color: green; }
span.status.false { background: red; color: red; }
