// Global overrides.

$hokie-maroon: #770e29;
$hokie-orange: #f37933;
$hokie-off-orange: #FE5B00;
$hokie-grey: #333333;
$hokie-gold: #febd69;
$mid-grey: #777;
$background: #FFFFFF;
$link-blue: #0000cc;

.alert {
	margin: 0;
}

.col-centered{
        float: none;
        margin: 0 auto;
    }
.text-centered {
  text-align: center;
}
.no-horiz-pad {
  padding-left: 0;
  padding-right: 0;
}
