// Global overrides.

$hokie-maroon: rgba(139,31,65,1);
$hokie-orange: rgba(255,102,0,1);
$hokie-off-orange: rgba(198,70,0,1);
$hokie-sunset: rgba(247,144,30,1);
$hokie-grey: rgba(109,106,117,1);
$hokie-gold: #febd69;
$hokie-teal: rgba(63,120,125,1);
$hokie-cadet-blue: rgba(0,66,122,1);
$mid-grey: #777;
$background: #FFFFFF;
$link-blue: #0000cc;

.alert {
	margin: 0;
}

.col-centered{
        float: none;
        margin: 0 auto;
    }
.text-centered {
  text-align: center;
}
.no-horiz-pad {
  padding-left: 0;
  padding-right: 0;
}
