@import 'global';

#masthead {
  background: $hokie-grey;
  min-height: 62px;
  border-bottom: 5px solid $hokie-orange;

  .institution_name {
    font-family: 'Lato', Verdana, Arial, Helvetica;
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
    padding-top: 18px;
  }

  #logo {
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-default {
    background-color: transparent;
    border: none;
  }

  .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background-color: $hokie-orange;
    border-color: $hokie-orange;
    .icon-bar {background-color: white;}
  }
  .univ-lib-header {
    color: white;
    text-align: right;
  }
  .masthead-search-wrapper {
    margin-top: -10px;
  }
}

#masthead_controls.container-fluid {
  padding-bottom: 0;
}

#masthead_controls .navbar-default .navbar-nav > .active > a,
#masthead_controls .navbar-default .navbar-nav > .active > a:hover,
#masthead_controls .navbar-default .navbar-nav > .active > a:focus {
  border-bottom: none;
  background: none;
  color: $hokie-orange;
  font-size: 16px;
  font-weight: bold;
}

#masthead_controls {
  border: none;
  padding-bottom: 16px;
  background-color: white;
  color: black;

   .row {
     .col-xs-12 {
       padding-left: 0;
     }
   }

   #search-submit-header {
    background-color: $hokie-orange;
    border-top: 1px solid $hokie-orange;
    border-bottom: 1px solid $hokie-orange;

    .btn-primary:hover {
    	background-color: $hokie-orange;
    }
  }
  #main-navbar {
    padding-left: 0px;
  }
  .navbar {
    margin-bottom: 0;
    li {
      border: none;
      margin: 0 0 0 10px;
    }
    li:first-child {
      border-left: none;
      margin-left: 0;
      a {
        padding-left: 0;
      }
    }
    a {
      display: inline-block;
    }
    a:link, a:visited {
      background-color: white;
      color: black;
      font-size: 16px;
      font-weight: bold;
    }
    a:hover {
      background-color: white;
      color: $hokie-off-orange
    }
  }
  .navbar-default {
    border: none;
    background-color: white;
    padding-top: 1px;
  }
}

.login_button {
  margin: 2.25em 0 0 0;
}


#search-form-header {
  margin: 2.25em 0 0 0;
}
