@import 'global';

#masthead {
  background: $hokie-grey;
  min-height: 100px;

  .institution_name {
    font-family: 'Lato', Verdana, Arial, Helvetica;
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
    padding-top: 18px;
  }

  #logo {
  	margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-right: solid #ffffff;
  }

  .navbar-default {
    background-color: transparent;
    border: none;
  }

  .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background-color: $hokie-orange;
    border-color: $hokie-orange;
    .icon-bar {background-color: white;}
  }

}

#masthead_controls .navbar-default .navbar-nav > .active > a,
#masthead_controls .navbar-default .navbar-nav > .active > a:hover,
#masthead_controls .navbar-default .navbar-nav > .active > a:focus {
  border-bottom: none;
  background-color: $hokie-grey;
  color: $hokie-orange;
  font-size: 16px;
  font-weight: bold;
}

#masthead_controls {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: white;
  border-bottom: none;
  padding-bottom: 16px;
  background-color: $hokie-grey;

   #search-submit-header {
    background-color: $hokie-orange;
    border-top: 1px solid $hokie-orange;
    border-bottom: 1px solid $hokie-orange;

    .btn-primary:hover {
    	background-color: $hokie-orange;
    }
  }

  .navbar {
    background-color: $hokie-grey;
    margin-bottom: 0;
    li {
      border-right: 2px solid $hokie-grey;
      margin: 0 10px 0 10px;
    }
    li:first-child {
      border-left: 2px solid $hokie-grey;
    }
    a:link, a:visited {
      background-color: $hokie-grey;
      padding-left: 20px;
      padding-right: 20px;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
    a:hover {
      color: $hokie-off-orange
    }
  }
  .navbar-default {
    border: none;
    padding-top: 1px;
  }
}

.login_button {
  margin: 2.25em 0 0 0;
}


#search-form-header {
  margin: 2.25em 0 0 0;
}
