@import 'global';

.profile {
	.subtab {
		border-radius: 0px 0px 5px 5px;
	 	border-top: none;
	 	background-color: $hokie-orange;
	 	color: white;
	}

	.margin-bottom {
		margin-bottom: 15px;
	}
}