@import 'global';

.outer_container {
  padding-left:0;
  padding-right:0;
}

.doi-table thead th {
  text-align: left;
}

.table-actionable {
  .text-left {
    text-align: left;
  }
}

#login-form {
  margin-top: 5%;
  margin-bottom: 5%;
}

.jumbotron {
  .help-block {
    font-size: 12px;
  }
}

.margin-right-sm {
  margin-right: 5px;
}

.margin-bottom-md {
  margin-bottom: 15px
}

.error {
  color: red;
}
