<div id="footer" class="container-fluid">
  <div class="row">
  <div class="col-xs-6">
        <a href="http://www.vt.edu" alt="Virginia Tech Home"><%=image_tag('vt-logo.png', width:'240', class:'img-responsive') %></a>
        <h5>A service of <a href="http://www.lib.vt.edu/">University Libraries.</a></h5>
  </div>
    <div class="col-xs-6">
        <p><%= t('sufia.footer.copyright_html') %></p>
        <small><a href="http://spec.lib.vt.edu/">Special Collections</a> | <a href="http://www.lib.vt.edu/artarch/">Art + Architecture</a> | <a href="http://www.lib.vt.edu/vetmed/">Veterinary Medicine</a> | <a href="http://www.lib.vt.edu/nvc/">Northern Virginia Center Resource Center</a> | <a href="http://m.lib.vt.edu/">Mobile Library Website</a></small>
    </div>
  </div><!-- /footer -->
  </div><!-- /.row -->
</div><!-- /footer -->
