<div id="logo" class="pull-left hidden-xs"><a href="https://vt.edu"><%=image_tag('vt-logo.png', width:'240') %></a></div><div class="institution_name pull-left"><a href="/"><%=t('sufia.product_name') %></a></div>
