<div class="logo-title-login-row">
  <div class="institution_name page-title pull-left"><a href="/"><h1><%= t('sufia.product_name') %></h1></a></div>
  <div class="logo-row-login-wrapper pull-right">
    <%= render partial: '/login_button', locals: { left: true } %>
  </div>
</div>
