<div class="logo-title-login-row">
  <div class="institution_name pull-left"><a href="/"><%= image_tag 'vtech_data_logo_horiz.png', alt: t('sufia.product_name') %></a></div>
  <div class="logo-row-login-wrapper pull-right">
    <%= render partial: '/login_button', locals: { left: true } %>
  </div>
</div>
