<div id="masthead" class="container-fluid vt_rebrand">
  <div class="row util-nav-menu">
    <%= render partial: '/vt_toplinks' %>
  </div>

  <div class="container">
    <div class="row logo-row">
      <div class="full-height">
        <div class="col-xs-5 no-horiz-pad logo-col">
          <%= render partial: '/logo' %>
        </div><!-- /.col-xs-5 -->
        <%= render partial: '/vt_search_form' %>
      </div>
    </div><!-- /.row -->
  </div>

  <%= render partial: '/vt_main_nav' %>

</div> <!-- /masthead -->

