<div id="masthead" class="container-fluid">
  <div class="row">
    <div class="col-xs-11 col-centered">
      <div class="col-xs-2 no-horiz-pad">
        <%= render partial: '/logo' %>
      </div><!-- /.col-xs-5 -->
      <div class="col-xs-3 pull-right no-horiz-pad">
        <h2 class="univ-lib-header">UNIVERSITY LIBRARIES</h2>
      </div>
      <% if !current_page?(root_url) %>
        <div class="col-xs-6  pull-right"> 
          <div class="masthead-search-wrapper col-centered">
            <%= render partial: '/catalog/search_form' %>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- /.row -->
</div> <!-- /masthead -->

