<!-- Draws the top navigation for media-building-->


   <nav class="navbar yamm navbar-default hidden-xs" id="vt_access_nav" role="navigation" aria-label="Main Navigation">
                <div id="nav-container" class="container">
                    <div id="vt_main_nav" class="navbar-header row">
                        <div id="navbar-collapse-1" class="navbar-collapse collapse yamm-content">
                            <ul id="vt_main_nav_ul" class="nav navbar-nav flex menu nav-menu"> 
                                <li class="parent-ql dropdown nav-item" id="vt_quicklinks_li">
                                    <a href="#" id="quickLinks" class="dropdown-toggle link-text" aria-expanded="false">Quicklinks</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                        <ul id="vt_ql_list" class="dropdown-menu vt_subnav1">
                                            <li><a href="http://www.4help.vt.edu">4Help (Computing Assistance)</a></li>
<li><a href="http://www.registrar.vt.edu/dates-deadlines-accordion/index.html">Calendars, Academic</a></li>
<li><a href="http://www.blacksburg.gov/Index.aspx?page=791">Blacksburg Transit</a></li>
<li><a href="http://www.maps.vt.edu/">Campus Map</a></li>
<li><a href="https://canvas.vt.edu/">Canvas</a></li>
<li><a href="http://www.vtcc.vt.edu/">Corps of Cadets</a></li>
<li><a href="http://www.givingto.vt.edu/">Giving to Virginia Tech</a></li>
<li><a href="http://hokiespa.vt.edu/">Hokie SPA</a></li>
<li><a href="http://www.vt.edu/status.html">University Status</a></li>
<li><a href="http://mail.google.vt.edu/">VT Google Apps Email</a></li>
<li><a href="http://my.office365.vt.edu">Exchange Email (Office 365)</a></li>
<li><a href="http://www.vt.edu/customize_quicklinks.html">Customize Quicklinks</a></li>
                                        </ul>
                                    </div>
                                </li>
                            <li id="vt_nav_home" class="nav-item"><a href="https://www.vt.edu/">Virginia Tech</a></li>
    
                                <li class="dropdown vt_nav_level_0 vt_nav_item_0 nav-item">
                                <a href="https://www.vt.edu/about.html" class="dropdown-toggle link-text" aria-expanded="false">About</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                            <ul class="dropdown-menu vt_subnav1">
                                                <li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/administration.html">Administration</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/careers.html">Careers</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/factbook.html">Factbook</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/rankings.html">Rankings </a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/traditions.html">History and Traditions</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/buildings.html">Virginia Tech Buildings</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/consumer-info-redirect.html">Consumer Information</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/inclusive-vt-link-redirect.html">InclusiveVT</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/outreach-link-redirect.html">Outreach</a></li><li class="vt_nav_level_1 vt_nav_item_0 link"><a href="https://www.vt.edu/about/extension-link-redirect.html">Virginia Cooperative Extension</a></li>
                                            </ul>
                                    </div>
                                </li>  
                                
                                
                                <li class="dropdown vt_nav_level_0 vt_nav_item_1 nav-item">
                                <a href="https://www.vt.edu/apply-aid.html" class="dropdown-toggle link-text" aria-expanded="false">Admissions &amp; Aid</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                            <ul class="dropdown-menu vt_subnav1">
                                                <li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/url-admissions-redirect.html">Undergraduate Admissions</a></li><li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/url-grad-admissions-redirect.html">Graduate Admissions</a></li><li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/url-apply-online-redirect.html">Online Programs</a></li><li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/url-veterans-redirect.html">Resources for Veterans</a></li><li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/finaid-link-redirect.html">Financial Aid and Scholarships</a></li><li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/url-grad-redirect.html">Graduate School Funding</a></li><li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/undergrad-visit-link-redirect.html">Visit Campus for Undergraduate Admissions</a></li><li class="vt_nav_level_1 vt_nav_item_1 link"><a href="https://www.vt.edu/apply-aid/visit-grad-link-redirect.html">Visit Campus for Graduate Admissions</a></li>
                                            </ul>
                                    </div>
                                </li>  
                                
                                
                                <li class="dropdown vt_nav_level_0 vt_nav_item_2 nav-item">
                                <a href="https://www.vt.edu/student_life.html" class="dropdown-toggle link-text" aria-expanded="false">Student Life</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                            <ul class="dropdown-menu vt_subnav1">
                                                <li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/dsa-url-redirect.html">Division of Student Affairs</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/career-services-redirect.html">Career and Professional Development</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/url-clubs-redirect.html">Clubs &amp; Organizations</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/corps-of-cadets-redirect.html">Corps of Cadets</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/dean-of-students-redirect.html">Dean of Students</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/dining-link-redirect.html">Dining</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/housing-link-redirect.html">Housing &amp; Residence Life</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/ssd-link-redirect.html">Services for Students with Disabilities</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/student-engagement-and-campus-life-redirect.html">Student Engagement and Campus Life</a></li><li class="vt_nav_level_1 vt_nav_item_2 link"><a href="https://www.vt.edu/student_life/blacksburg.html">All About Blacksburg</a></li>
                                            </ul>
                                    </div>
                                </li>  
                                
                                
                                <li class="dropdown vt_nav_level_0 vt_nav_item_3 nav-item">
                                <a href="https://www.vt.edu/research.html" class="dropdown-toggle link-text" aria-expanded="false">Research</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                            <ul class="dropdown-menu vt_subnav1">
                                                <li class="vt_nav_level_1 vt_nav_item_3 link"><a href="https://www.vt.edu/research/ncr-link-redirect.html">Virginia Tech Research Center – Arlington</a></li><li class="vt_nav_level_1 vt_nav_item_3 link"><a href="https://www.vt.edu/research/research-institutes-redirect.html">Research Institutes of Virginia Tech</a></li><li class="vt_nav_level_1 vt_nav_item_3 link"><a href="https://www.vt.edu/research/research-pubs-link-redirect.html">Research Publications</a></li>
                                            </ul>
                                    </div>
                                </li>  
                                
                                
                                <li class="dropdown vt_nav_level_0 vt_nav_item_4 nav-item">
                                <a href="https://www.vt.edu/academics.html" class="dropdown-toggle link-text" aria-expanded="false">Academics</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                            <ul class="dropdown-menu vt_subnav1">
                                                <li class="vt_nav_level_1 vt_nav_item_4 link"><a href="https://www.vt.edu/academics/academic-departments.html">Academic Departments</a></li><li class="vt_nav_level_1 vt_nav_item_4 link"><a href="https://www.vt.edu/academics/register-transcripts.html">Registration and Records</a></li><li class="vt_nav_level_1 vt_nav_item_4 link"><a href="https://www.vt.edu/academics/international-link-redirect.html">International</a></li><li class="vt_nav_level_1 vt_nav_item_4 link"><a href="https://www.vt.edu/academics/summer-link-redirect.html">Summer Sessions</a></li><li class="vt_nav_level_1 vt_nav_item_4 link"><a href="https://www.vt.edu/academics/winter-link-redirect.html">Winter Sessions</a></li><li class="vt_nav_level_1 vt_nav_item_4 link"><a href="https://www.vt.edu/academics/summer-acad-redirect.html">Summer Academy</a></li><li class="vt_nav_level_1 vt_nav_item_4 link"><a href="https://www.vt.edu/academics/majors.html">Majors</a></li>
                                            </ul>
                                    </div>
                                </li>  
                                
                                
                                <li class="dropdown vt_nav_level_0 vt_nav_item_5 nav-item">
                                <a href="https://www.vt.edu/arts-at-vt.html" class="dropdown-toggle link-text" aria-expanded="false">Arts@VirginiaTech</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                            <ul class="dropdown-menu vt_subnav1">
                                                <li class="vt_nav_level_1 vt_nav_item_5 link"><a href="https://www.vt.edu/arts-at-vt/about.html">About Arts@VirginiaTech</a></li><li class="vt_nav_level_1 vt_nav_item_5 link"><a href="https://www.vt.edu/arts-at-vt/academic-programs-arts.html">Academic Programs in the Arts</a></li><li class="vt_nav_level_1 vt_nav_item_5 link"><a href="https://www.vt.edu/arts-at-vt/arts-presenters.html">Arts Presenters</a></li><li class="vt_nav_level_1 vt_nav_item_5 link"><a href="https://www.vt.edu/arts-at-vt/venues.html">Arts Venues</a></li><li class="vt_nav_level_1 vt_nav_item_5 link"><a href="https://www.vt.edu/arts-at-vt/research-scholarship.html">Research and Scholarship</a></li><li class="vt_nav_level_1 vt_nav_item_5 link"><a href="https://www.vt.edu/arts-at-vt/performing-groups.html">Performing Groups</a></li>
                                            </ul>
                                    </div>
                                </li>  
                                
                                
                                <li class="dropdown vt_nav_level_0 vt_nav_item_6 nav-item">
                                <a href="https://www.vt.edu/sports.html" class="dropdown-toggle link-text" aria-expanded="false">Sports</a>
                                    <div class="yamm-content tab-content vt_subnav1_block">
                                            <ul class="dropdown-menu vt_subnav1">
                                                <li class="vt_nav_level_1 vt_nav_item_6 link"><a href="https://www.vt.edu/sports/url-hokiesports-redirect.html">HokieSports</a></li><li class="vt_nav_level_1 vt_nav_item_6 link"><a href="https://www.vt.edu/sports/url-recsports-redirect.html">Recreational Sports</a></li>
                                            </ul>
                                    </div>
                                </li>  
                                
                                
                                </ul>
                        </div><!-- navbar-collapse-1 -->
                    </div><!-- row  -->
                </div><!-- container  -->
            </nav>
