<div class="nav-utilities col-sm-12 hidden-xs sub-nav">
  <ul class="home-vt-toplinks sub-nav">
    <li>
      <a href="https://www.vtnews.vt.edu">News</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="https://www.givingto.vt.edu">Giving</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="https://lib.vt.edu">Libraries</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="http://www.maps.vt.edu">Maps &amp; Locations</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="https://www.vt.edu/az_index.html">A to Z Index</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="https://www.vt.edu/status.html">University Status</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="https://hokiespa.vt.edu">Hokie SPA</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="https://canvas.vt.edu">Canvas</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <a href="https://my.vt.edu">My VT</a>
      <span class="toplink-pipe">&nbsp;|</span>
    </li>
    <li>
      <%= image_tag "vt-2016-ribbon.svg", class: "vt-we-remember-ribbon" %>
      <a href="https://weremember.vt.edu">We Remember</a>
    </li>
  </ul>
</div>

