<div class="moss-search-block col-lg-3 col-md-3 col-sm-3 hidden-xs pull-right no-horiz-pad" role="search">
  <form id="vt_header_search_form" action="//search.vt.edu/query" method="get" name="vtsearchform" autocomplete="off">
    <label for="vt_search_box" class="vt_skip">Search...</label>
    <input type="text" maxlength="50" placeholder="Search..." name="q" id="vt_search_box" class="moss-search-box">
    <button id="vt_go_button" type="submit" class="moss-search-button">
      <span class="fa fa-search"></span>
      <span class="vt_skip">Search</span>
    </button>
  </form>
</div>
