<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user_name %>,</h3>
    <p><%= @message %></p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
